@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
  --color-purple:#5752e6;
  --color-green:#47FCDE;
  --color-light-purple:#C378F6;
  --color-orange:#FFA16F;
  --color-gray:#E9E9EA;
  --color-bg:#F9F9F9;
  --color-chart-title-bg: #191A1F;
  --font-press: 'Press Start 2P', cursive;
}

body{
  background-color: var(--color-bg);
}
.font-press{
  font-family:var(--font-press);
}